In [4]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [5]:
# Set up Splinter
browser = Browser('chrome')

In [6]:
#url maison margiela https://www.ssense.com/en-us/women/designers/mm6-maison-margiela/jeans
#url diesel https://www.ssense.com/en-us/women/designers/diesel/jeans
#url blumarine https://www.ssense.com/en-us/women/designers/blumarine/jeans

In [7]:
# Visit the Quotes to Scrape site
url = 'https://www.ssense.com/en-us/women/designers/mm6-maison-margiela/jeans'
browser.visit(url)

In [9]:
# Parse the HTML
html = browser.html
html_soup = soup(html, 'html.parser')
mm_jeans_prices = []
for i in range(0, 17):
    mm_jeans_price = html_soup.find('span', class_='s-text', attrs={'data-test': f'productCurrentPrice{i}'})
    if mm_jeans_price:
        mm_jeans_prices.append(mm_jeans_price.text.strip())
    else:
        print(f'Error: price {i} not found.')

print(mm_jeans_prices)

['$455', '$545', '$410', '$390', '$390', '$475', '$390', '$314', '$271', '$363', '$308', '$332', '$321', '$358', '$281', '$358', '$281']

In [10]:
jeans_df = pd.DataFrame(mm_jeans_prices, columns=["MM6"])
jeans_df['MM6'] = jeans_df['MM6'].str.replace('$','').astype(int)
jeans_df

/var/folders/c9/9w8x95jd1f5fjjhn66vbs76c0000gn/T/ipykernel_1720/961204060.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  jeans_df['MM6'] = jeans_df['MM6'].str.replace('$','').astype(int)

    MM6
0   455
1   545
2   410
3   390
4   390
5   475
6   390
7   314
8   271
9   363
10  308
11  332
12  321
13  358
14  281
15  358
16  281

In [12]:
mm_jeans_min = jeans_df['MM6'].min()
print(f'The minimum price for a MM6 tshirt is ${mm_jeans_min}.')

mm_jeans_max = jeans_df['MM6'].max()
print(f'The maxiumum price for a MM6 tshirt is ${mm_jeans_max}.')

mm_jeans_avg = jeans_df['MM6'].mean()
print(f'The average price for a MM6 tshirt is ${round(mm_jeans_avg,2)}.')

The minimum price for a MM6 tshirt is $271.
The maxiumum price for a MM6 tshirt is $545.
The average price for a MM6 tshirt is $367.18.

In [13]:
browser.quit()

In [14]:
csv_filename = 'mm6_jeans.csv'
jeans_df.to_csv(csv_filename, index=False)

In [17]:
#visiting other brand on the site 
browser = Browser('chrome')
url_2 = 'https://www.ssense.com/en-us/women/designers/diesel/jeans'
browser.visit(url_2)

In [18]:
html = browser.html
html_soup = soup(html, 'html.parser')

diesel_jeans_prices = []
for i in range(0, 17):
    diesel_jeans_price = html_soup.find('span', class_='s-text', attrs={'data-test': f'productCurrentPrice{i}'})
    if diesel_jeans_price:
        diesel_jeans_prices.append(diesel_jeans_price.text.strip())
    else:
        print(f'Error: price {i} not found.')

print(diesel_jeans_prices)

['$335', '$355', '$250', '$405', '$375', '$359', '$414', '$679', '$169', '$276', '$314', '$110', '$101', '$154', '$110', '$101', '$405']

In [21]:
dieseljeans_df = pd.DataFrame(diesel_jeans_prices, columns=["Diesel"])
dieseljeans_df['Diesel'] = dieseljeans_df['Diesel'].str.replace('$','').astype(int)
csv_filename = 'diesel_jeans.csv'
dieseljeans_df.to_csv(csv_filename, index=False)

/var/folders/c9/9w8x95jd1f5fjjhn66vbs76c0000gn/T/ipykernel_1720/3979445661.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dieseljeans_df['Diesel'] = dieseljeans_df['Diesel'].str.replace('$','').astype(int)

In [22]:
jeans_df['diesel'] = diesel_jeans_prices
jeans_df['diesel'] = jeans_df['diesel'].str.replace('$','').astype(int).fillna(0)
jeans_df

/var/folders/c9/9w8x95jd1f5fjjhn66vbs76c0000gn/T/ipykernel_1720/2180743122.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  jeans_df['diesel'] = jeans_df['diesel'].str.replace('$','').astype(int).fillna(0)

    MM6  diesel
0   455     335
1   545     355
2   410     250
3   390     405
4   390     375
5   475     359
6   390     414
7   314     679
8   271     169
9   363     276
10  308     314
11  332     110
12  321     101
13  358     154
14  281     110
15  358     101
16  281     405

In [24]:
diesel_jeans_min = jeans_df['diesel'].min()
print(f'The minimum price for a Diesel tshirt is ${diesel_jeans_min}.')

diesel_jeans_max = jeans_df['diesel'].max()
print(f'The maxiumum price for a Diesel tshirt is ${diesel_jeans_max}.')

diesel_jeans_avg = jeans_df['diesel'].mean()
print(f'The average price for a Diesel tshirt is ${round(diesel_jeans_avg,2)}.')

The minimum price for a Diesel tshirt is $101.
The maxiumum price for a Diesel tshirt is $679.
The average price for a Diesel tshirt is $288.94.

In [25]:
browser.quit()

In [26]:
browser = Browser('chrome')
url_3 = 'https://www.ssense.com/en-us/women/designers/blumarine/jeans'
browser.visit(url_3)

In [27]:
html = browser.html
html_soup = soup(html, 'html.parser')

blu_jeans_prices = []
for i in range(0, 17):
    blu_jeans_price = html_soup.find('span', class_='s-text', attrs={'data-test': f'productCurrentPrice{i}'})
    if blu_jeans_price:
        blu_jeans_prices.append(blu_jeans_price.text.strip())
    else:
        print(f'Error: price {i} not found.')

print(blu_jeans_prices)

['$1295', '$1040', '$485', '$848', '$542', '$792', '$765', '$703', '$330', '$429', '$374', '$501', '$131', '$230', '$150', '$246', '$174']

In [40]:
blu_jeans_df = pd.DataFrame(blu_jeans_prices, columns=["Blumarine"])
blu_jeans_df['Blumarine'] = blu_jeans_df['Blumarine'].str.replace('$','').astype(int)
print(blu_jeans_df)
csv_filename = 'blumarine_jeans.csv'
blu_jeans_df.to_csv(csv_filename, index=False)

    Blumarine
0        1295
1        1040
2         485
3         848
4         542
5         792
6         765
7         703
8         330
9         429
10        374
11        501
12        131
13        230
14        150
15        246
16        174

/var/folders/c9/9w8x95jd1f5fjjhn66vbs76c0000gn/T/ipykernel_1720/1179537967.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  blu_jeans_df['Blumarine'] = blu_jeans_df['Blumarine'].str.replace('$','').astype(int)

In [32]:
jeans_df['blumarine'] = blu_jeans_prices
jeans_df['blumarine'] = jeans_df['blumarine'].str.replace('$','').astype(int)
jeans_df

/var/folders/c9/9w8x95jd1f5fjjhn66vbs76c0000gn/T/ipykernel_1720/2708534361.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  jeans_df['blumarine'] = jeans_df['blumarine'].str.replace('$','').astype(int)

    MM6  diesel  blumarine
0   455     335       1295
1   545     355       1040
2   410     250        485
3   390     405        848
4   390     375        542
5   475     359        792
6   390     414        765
7   314     679        703
8   271     169        330
9   363     276        429
10  308     314        374
11  332     110        501
12  321     101        131
13  358     154        230
14  281     110        150
15  358     101        246
16  281     405        174

In [34]:
blu_jeans_min = jeans_df['blumarine'].min()
print(f'The minimum price for a Diesel tshirt is ${blu_jeans_min}.')

blu_jeans_max = jeans_df['blumarine'].max()
print(f'The maxiumum price for a Diesel tshirt is ${blu_jeans_max}.')

blu_jeans_avg = jeans_df['blumarine'].mean()
print(f'The average price for a Diesel tshirt is ${round(blu_jeans_avg,2)}.')

The minimum price for a Diesel tshirt is $131.
The maxiumum price for a Diesel tshirt is $1295.
The average price for a Diesel tshirt is $531.47.

In [35]:
browser.quit()

In [36]:
csv_filename = 'jeans.csv'
jeans_df.to_csv(csv_filename, index=False)