# Automated Web Scrape Practice

In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [22]:
# Set up Splinter
browser = Browser('chrome')

In [8]:
# Visit the Quotes to Scrape site
url = 'https://www.ssense.com/en-us/women/designers/mm6-maison-margiela/jeans?sort=popularity-desc'
browser.visit(url)

In [9]:
# Parse the HTML
html = browser.html
html_soup = soup(html, 'html.parser')

In [11]:
mm_prices = []
for i in range(0, 18):
    mm_price = html_soup.find('span', class_='s-text', attrs={'data-test': f'productCurrentPrice{i}'})
    if mm_price:
        mm_prices.append(mm_price.text.strip())
    else:
        print(f'Error: price {i} not found.')

print(mm_prices)

['$475', '$390', '$223', '$390', '$326', '$337', '$252', '$204', '$222', '$83', '$181', '$230', '$390', '$124', '$545', '$292', '$363', '$155']

In [12]:
jeans_df = pd.DataFrame(mm_prices, columns=["MM6"])
jeans_df['MM6'] = jeans_df['MM6'].str.replace('$','').astype(int)
jeans_df

C:\Users\jkoo0\AppData\Local\Temp\ipykernel_3816\690135130.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  jeans_df['MM6'] = jeans_df['MM6'].str.replace('$','').astype(int)

    MM6
0   475
1   390
2   223
3   390
4   326
5   337
6   252
7   204
8   222
9    83
10  181
11  230
12  390
13  124
14  545
15  292
16  363
17  155

In [29]:
mm_jeans_min = jeans_df['MM6'].min()
print(f'The minimum price for a pair of MM6 jeans is ${mm_jeans_min}.')

mm_jeans_max = jeans_df['MM6'].max()
print(f'The maxiumum price for a pair of MM6 jeans is ${mm_jeans_max}.')

mm_jeans_avg = jeans_df['MM6'].mean()
print(f'The average price for a pair of MM6 jeans is ${round(mm_jeans_avg,2)}.')

The minimum price for a pair of MM6 jeans is $83.
The maxiumum price for a pair of MM6 jeans is $545.
The average price for a pair of MM6 jeans is $287.89.

In [14]:
browser.quit()
browser = Browser('chrome')
url_2 = 'https://www.ssense.com/en-us/women/designers/diesel/jeans?sort=popularity-desc'
browser.visit(url_2)

In [15]:
html = browser.html
html_soup = soup(html, 'html.parser')

diesel_prices = []
for i in range(0, 18):
    diesel_jeans_price = html_soup.find('span', class_='s-text', attrs={'data-test': f'productCurrentPrice{i}'})
    if diesel_jeans_price:
        diesel_prices.append(diesel_jeans_price.text.strip())
    else:
        print(f'Error: price {i} not found.')

print(diesel_prices)

['$328', '$355', '$335', '$375', '$452', '$250', '$134', '$157', '$110', '$101', '$101', '$188', '$392', '$110', '$405', '$288', '$132', '$713']

In [16]:
jeans_df['diesel'] = diesel_prices
jeans_df['diesel'] = jeans_df['diesel'].str.replace('$','').astype(int).fillna(0)
jeans_df

C:\Users\jkoo0\AppData\Local\Temp\ipykernel_3816\355690728.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  jeans_df['diesel'] = jeans_df['diesel'].str.replace('$','').astype(int).fillna(0)

    MM6  diesel
0   475     328
1   390     355
2   223     335
3   390     375
4   326     452
5   337     250
6   252     134
7   204     157
8   222     110
9    83     101
10  181     101
11  230     188
12  390     392
13  124     110
14  545     405
15  292     288
16  363     132
17  155     713

In [28]:
diesel_jeans_min = jeans_df['diesel'].min()
print(f'The minimum price for a pair of Diesel jeans is ${diesel_jeans_min}.')

diesel_jeans_max = jeans_df['diesel'].max()
print(f'The maxiumum price for a pair of Diesel jeans is ${diesel_jeans_max}.')

diesel_jeans_avg = jeans_df['diesel'].mean()
print(f'The average price for a pair of Diesel jeans is ${round(diesel_jeans_avg,2)}.')

The minimum price for a pair of Diesel jeans is $101.
The maxiumum price for a pair of Diesel jeans is $713.
The average price for a pair of Diesel jeans is $273.67.

In [23]:
browser.quit()
browser = Browser('chrome')
url_3 = 'https://www.ssense.com/en-us/women/designers/blumarine/jeans?sort=popularity-desc'
browser.visit(url_3)

In [24]:
html = browser.html
html_soup = soup(html, 'html.parser')

blu_prices = []
for i in range(0, 18):
    blu_price = html_soup.find('span', class_='s-text', attrs={'data-test': f'productCurrentPrice{i}'})
    if blu_price:
        blu_prices.append(blu_price.text.strip())
    else:
        print(f'Error: price {i} not found.')

print(blu_prices)

['$848', '$148', '$584', '$161', '$820', '$374', '$330', '$765', '$1040', '$501', '$760', '$485', '$239', '$440', '$241', '$258', '$191', '$1295']

In [25]:
jeans_df['blumarine'] = blu_prices
jeans_df['blumarine'] = jeans_df['blumarine'].str.replace('$','').astype(int).fillna(0)
jeans_df

C:\Users\jkoo0\AppData\Local\Temp\ipykernel_3816\2186024339.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  jeans_df['blumarine'] = jeans_df['blumarine'].str.replace('$','').astype(int).fillna(0)

    MM6  diesel  blumarine
0   475     328        848
1   390     355        148
2   223     335        584
3   390     375        161
4   326     452        820
5   337     250        374
6   252     134        330
7   204     157        765
8   222     110       1040
9    83     101        501
10  181     101        760
11  230     188        485
12  390     392        239
13  124     110        440
14  545     405        241
15  292     288        258
16  363     132        191
17  155     713       1295

In [27]:
blu_jeans_min = jeans_df['blumarine'].min()
print(f'The minimum price for a pair of blumarine jeans is ${blu_jeans_min}.')

blu_jeans_max = jeans_df['blumarine'].max()
print(f'The maxiumum price for a pair of blumarine jeans is ${blu_jeans_max}.')

blu_jeans_avg = jeans_df['blumarine'].mean()
print(f'The average price for a pair of blumarine jeans is ${round(blu_jeans_avg,2)}.')

The minimum price for a pair of blumarine jeans is $148.
The maxiumum price for a pair of blumarine jeans is $1295.
The average price for a pair of blumarine jeans is $526.67.

In [19]:
# End the automated browsing section
browser.quit()