# Automated Web Scrape Practice

In [11]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [12]:
# Set up Splinter
browser = Browser('chrome')

In [13]:
# Visit the Quotes to Scrape site
url = 'https://www.ssense.com/en-us/women/designers/mm6-maison-margiela/t-shirts'
browser.visit(url)

In [14]:
# Parse the HTML
html = browser.html
html_soup = soup(html, 'html.parser')
mm_tshirt_prices = []
for i in range(0, 17):
    mm_tshirt_price = html_soup.find('span', class_='s-text', attrs={'data-test': f'productCurrentPrice{i}'})
    if mm_tshirt_price:
        mm_tshirt_prices.append(mm_tshirt_price.text.strip())
    else:
        print(f'Error: price {i} not found.')

print(mm_tshirt_prices)

['$545', '$390', '$390', '$390', '$190', '$185', '$325', '$355', '$325', '$210', '$210', '$185', '$309', '$257', '$195', '$146', '$143']

In [15]:
tshirt_df = pd.DataFrame(mm_tshirt_prices, columns=["MM6"])
tshirt_df['MM6'] = tshirt_df['MM6'].str.replace('$','').astype(int)
tshirt_df

/var/folders/c9/9w8x95jd1f5fjjhn66vbs76c0000gn/T/ipykernel_1393/2175060261.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tshirt_df['MM6'] = tshirt_df['MM6'].str.replace('$','').astype(int)

    MM6
0   545
1   390
2   390
3   390
4   190
5   185
6   325
7   355
8   325
9   210
10  210
11  185
12  309
13  257
14  195
15  146
16  143

In [16]:
csv_filename = 'mm6_tshirts.csv'
tshirt_df.to_csv(csv_filename, index=False)

In [17]:
mm_tshirt_min = tshirt_df['MM6'].min()
print(f'The minimum price for a MM6 tshirt is ${mm_tshirt_min}.')

mm_tshirt_max = tshirt_df['MM6'].max()
print(f'The maxiumum price for a MM6 tshirt is ${mm_tshirt_max}.')

mm_tshirt_avg = tshirt_df['MM6'].mean()
print(f'The average price for a MM6 tshirt is ${round(mm_tshirt_avg,2)}.')

The minimum price for a MM6 tshirt is $143.
The maxiumum price for a MM6 tshirt is $545.
The average price for a MM6 tshirt is $279.41.

In [18]:
browser.quit()
#browser = Browser('chrome')
#url_2 = 'https://www.ssense.com/en-us/women/designers/diesel/t-shirts'
#browser.visit(url_2)

In [19]:
browser = Browser('chrome')
url_2 = 'https://www.ssense.com/en-us/women/designers/diesel/t-shirts'
browser.visit(url_2)

In [20]:
html = browser.html
html_soup = soup(html, 'html.parser')

diesel_tshirt_prices = []
for i in range(0, 17):
    diesel_tshirt_price = html_soup.find('span', class_='s-text', attrs={'data-test': f'productCurrentPrice{i}'})
    if diesel_tshirt_price:
        diesel_tshirt_prices.append(diesel_tshirt_price.text.strip())
    else:
        print(f'Error: price {i} not found.')

print(diesel_tshirt_prices)

['$125', '$125', '$105', '$125', '$125', '$175', '$150', '$158', '$100', '$83', '$97', '$87', '$58', '$211', '$134', '$78', '$84']

In [23]:
diesel_tshirt_df = pd.DataFrame(diesel_tshirt_prices, columns=["Diesel"])
diesel_tshirt_df['Diesel'] = diesel_tshirt_df['Diesel'].str.replace('$','').astype(int)
csv_filename = 'diesel_tshirt.csv'
diesel_tshirt_df.to_csv(csv_filename, index=False)

/var/folders/c9/9w8x95jd1f5fjjhn66vbs76c0000gn/T/ipykernel_1393/3377191505.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  diesel_tshirt_df['Diesel'] = diesel_tshirt_df['Diesel'].str.replace('$','').astype(int)

In [24]:
tshirt_df['diesel'] = diesel_tshirt_prices
tshirt_df['diesel'] = tshirt_df['diesel'].str.replace('$','').astype(int).fillna(0)
tshirt_df

/var/folders/c9/9w8x95jd1f5fjjhn66vbs76c0000gn/T/ipykernel_1393/3847222022.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tshirt_df['diesel'] = tshirt_df['diesel'].str.replace('$','').astype(int).fillna(0)

    MM6  diesel
0   545     125
1   390     125
2   390     105
3   390     125
4   190     125
5   185     175
6   325     150
7   355     158
8   325     100
9   210      83
10  210      97
11  185      87
12  309      58
13  257     211
14  195     134
15  146      78
16  143      84

In [25]:
diesel_tshirt_min = tshirt_df['diesel'].min()
print(f'The minimum price for a Diesel tshirt is ${diesel_tshirt_min}.')

diesel_tshirt_max = tshirt_df['diesel'].max()
print(f'The maxiumum price for a Diesel tshirt is ${diesel_tshirt_max}.')

diesel_tshirt_avg = tshirt_df['diesel'].mean()
print(f'The average price for a Diesel tshirt is ${round(diesel_tshirt_avg,2)}.')

The minimum price for a Diesel tshirt is $58.
The maxiumum price for a Diesel tshirt is $211.
The average price for a Diesel tshirt is $118.82.

In [26]:
browser.quit()

In [27]:
browser = Browser('chrome')
url_3 = 'https://www.ssense.com/en-us/women/designers/blumarine/t-shirts'
browser.visit(url_3)

In [28]:
html = browser.html
html_soup = soup(html, 'html.parser')

blu_tshirt_prices = []
for i in range(0, 17):
    blu_tshirt_price = html_soup.find('span', class_='s-text', attrs={'data-test': f'productCurrentPrice{i}'})
    if blu_tshirt_price:
        blu_tshirt_prices.append(blu_tshirt_price.text.strip())
    else:
        print(f'Error: price {i} not found.')

print(blu_tshirt_prices)

['$550', '$160', '$924', '$117', '$168', '$114', '$119', '$122', '$119', '$114', '$114', '$126', '$163', '$93', '$221', '$83', '$91']

In [30]:
blu_tshirt_df = pd.DataFrame(blu_tshirt_prices, columns=["Blumarine"])
blu_tshirt_df['Blumarine'] = blu_tshirt_df['Blumarine'].str.replace('$','').astype(int)
csv_filename = 'blumarine_tshirt.csv'
blu_tshirt_df.to_csv(csv_filename, index=False)

/var/folders/c9/9w8x95jd1f5fjjhn66vbs76c0000gn/T/ipykernel_1393/618459293.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  blu_tshirt_df['Blumarine'] = blu_tshirt_df['Blumarine'].str.replace('$','').astype(int)

In [31]:
tshirt_df['blumarine'] = blu_tshirt_prices
tshirt_df['blumarine'] = tshirt_df['blumarine'].str.replace('$','').astype(int)
tshirt_df

/var/folders/c9/9w8x95jd1f5fjjhn66vbs76c0000gn/T/ipykernel_1393/3357997537.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tshirt_df['blumarine'] = tshirt_df['blumarine'].str.replace('$','').astype(int)

    MM6  diesel  blumarine
0   545     125        550
1   390     125        160
2   390     105        924
3   390     125        117
4   190     125        168
5   185     175        114
6   325     150        119
7   355     158        122
8   325     100        119
9   210      83        114
10  210      97        114
11  185      87        126
12  309      58        163
13  257     211         93
14  195     134        221
15  146      78         83
16  143      84         91

In [32]:
blu_tshirt_min = tshirt_df['blumarine'].min()
print(f'The minimum price for a blumarine tshirt is ${blu_tshirt_min}.')

blu_tshirt_max = tshirt_df['blumarine'].max()
print(f'The maxiumum price for a blumarine tshirt is ${blu_tshirt_max}.')

blu_tshirt_avg = tshirt_df['blumarine'].mean()
print(f'The average price for a blumarine tshirt is ${round(blu_tshirt_avg,2)}.')

The minimum price for a blumarine tshirt is $83.
The maxiumum price for a blumarine tshirt is $924.
The average price for a blumarine tshirt is $199.88.

In [33]:
# End the automated browsing section
browser.quit()

In [34]:
csv_filename = 'tshirts.csv'
tshirt_df.to_csv(csv_filename, index=False)